{
	skip_install_trust
}

{$PQ_ADDRESS:https://} {
	tls internal {
		on_demand
	}
	encode gzip
	handle /data/* {
		reverse_proxy {$PQ_TAR1090}
	}
	handle /chunks/* {
		reverse_proxy {$PQ_TAR1090}
	}
	handle /map/* {
		root * /app/public
		file_server
	}
	handle /root.crt {
		root * /data/caddy/pki/authorities/local
		header Content-Type application/x-x509-ca-cert
		file_server
	}
	handle {
		root * /app/dist
		file_server
	}
}
